site_name: FlyMatic

nav:
    - Home: index.md
    - System design:
      - Angle Sensing: system-design/angle_sensing.md
      - Unit Communication: system-design/ms_communication.md
      - Motor Control: system-design/motor_control.md
    - Software design:
      - MainUnit: software-design/main_unit.md
      - MainUnit - Mpu6050: software-design/main_unit-mpu6050.md
      - AuxUnit - Motor Control: software-design/aux_unit-motor_control.md
      - AuxUnit - RTOS Configuration: software-design/aux_unit-rtos.md
      - AuxUnit - SPI: software-design/aux_unit-spi.md
theme:
  name: material
  favicon: images/icon.png
  logo: images/logo.png
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: black
      accent: amber
    - scheme: slate
      toggle:
        icon: material/weather-sunny 
        name: Switch to light mode    
      primary: black
      accent: indigo
plugins:
    - search
    - mermaid2
    - plantuml:
        puml_url: https://www.plantuml.com/plantuml/
        num_workers: 8
markdown_extensions:
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/bartłomiej-burda-837579164
      name: LinkedIn (Bartłomiej Burda)
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/octicons/16.0.1/octicons.min.css
  - stylesheets/extra.css
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js