.md-header-nav__title {
    display: flex;
    align-items: center;
}

.md-header-nav__title img {
    max-height: 50px;  /* Adjust the height as needed */
    margin-right: 30px;  /* Adjust the spacing as needed */
}
